*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color: #aaaaaa;
    --main-color: rgb(168, 0, 0);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Scrollbar - Barra lateral */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* LOGO */
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1.3px;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

/* MENU DESKTOP */
.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 300;
    letter-spacing: 1.8px;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    font-weight: 600;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

/* MENU ICON */
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* SESSÃO HOME */
section{
    min-height: 100vh;
    padding: 6rem 9% 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

span{
    color: var(--main-color);
}

.logo span{
    color: var(--main-color);
}

/* SESSÃO HOME */

.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    line-height: 1;
}

.home-content h3{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-size: 3.4rem;
}

.home-content p{
    font-size: 1.7rem;
    font-weight: 300;
    max-width: 800px;
    letter-spacing: 1px;
}

.home-content .social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.home-content .social-icon a:hover{
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

/* ANIMAÇÃO DO TEXTO */
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words{
    0%, 20%{
        content: 'Web Developer';
    }

    21%, 40%{
        content: "Graphic Designer";
    }

    41%, 60%{
        content: "UI / UX Designer";
    }
    61%, 80%{
        content: "Content Manager";
    }

    81%, 100%{
        content: "Software Tester";
    }
}

@keyframes typing{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% { 
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

/* SESSÃO SOBRE */

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.heading{
    text-align: center;
    font-size: 6rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.5;
}

.sobre h2 span{
    color: var(--main-color);
    text-shadow: 0 0 20px var(--main-color);
}

.about-content h3{
    font-size: 3rem;
}

.about-content p{
    font-size: 1.6rem;
    max-width: 600px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    letter-spacing: 0.8px;
    word-spacing: 2px;
}

.about-content .text-animation span::before{
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}

.about-content .text-animation span::after{
    content: "";
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--second-bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

.sobre-img{
    border-radius: 50%;
}

.sobre-img img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.sobre-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

/* SESSÃO SERVIÇOS */

.servicos{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.servicos h2{
    margin-bottom: 3rem;
    color: var(--text-color);
    font-size: 5rem;
}

.servicos-container{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.servico-box{
    background-color: var(--main-color);
    color: var(--text-color);
    height: 200px;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.servico-box:hover{
    background-color: var(--text-color);
    color: var(--main-color);
    transform: scale(1.03);
}

.servico-box .servico-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5rem;
}

.servico-box .servico-info h4{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.servico-box .servico-info p{
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 300px;
    margin: auto;
}